@import "../../custom.css";

.icon-size {
    width: 24px;
    height: 24px;
}

.icon-size path {
    fill: light-dark(var(--bs-body-color), var(--bs-white));
}

.icon-size circle {
    fill: light-dark(var(--bs-body-color), var(--bs-white));
}